/* You can add global styles to this file, and also import other style files */

:root{
    --bg-color:#FFFF;
    --vw-width:60vw;
    --vh-height:100vh;
    --min-padding: 8px;
    --med-padding: 16px;
    --max-padding: 24px;
    --Ext-padding: 32px;
    --marg-top: 3rem;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    background-color: #01101f;
    
}


