/* You can add global styles to this file, and also import other style files */

:root{
    --bg-color:#FFFF;
    --vw-width:70vw;
    --vh-height:100vh;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    background-color: #01101f;
    
}


